<h1>Test</h1>
<%# button goes to form to create list and return to the main page with all the lists and display lists when clicked %>

   <h1><%= @list.name %></h1>

    <%= link_to 'add a movie', new_list_bookmark_path(@list), class: 'btn btn-flat' %>
      <%= link_to 'detete this list', list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %>
    </div>
